.container {
	max-width: 490px;

	margin: 100px auto;
	padding: 40px;

	border-radius: 20px;
	background-color: var(--color_background_content);
	border: 1px solid var(--separator);
}

.form__title {
	margin: 0 0 10px;
	color: var(--color_text_primary);

	font-size: 30px;
	font-weight: 500;
}

.authInput {
	caret-color: #ffffff;
	border: 1px solid var(--separator);

	height: 50px;
	width: 100%;

	outline: none;
	border-radius: 7px;

	padding-left: 20px;
	margin: 10px 0;

	text-align: start;
	transition: box-shadow var(--main-anim-delay) ease;

	background-color: var(--color_background);
	color: var(--color_text_primary);
}

.authInput::placeholder {
	color: var(--color_text_secondary);
}

.authInput:focus {
	outline: 1px solid #1e70dc;
	box-shadow: 0 0 0 3px rgb(30 112 220 / 60%);
}

.myButton {
	width: 100%;
	height: 50px;

	padding-right: 10px;
	margin: 10px 0;
}

.link {
	text-decoration: none;
	border-bottom: 1px solid var(--link-color);
	padding-bottom: 1px;
	color: var(--link-color);
}

.link:hover {
	color: var(--link-hover-color);
}

.setUser {
	position: relative;
	top: 10px;
}
