.profile {
	height: 282px;
	width: 302px;
	background-color: var(--color_background_content);
	border: var(--main_border);
	border-radius: var(--regular-border);
}

.header {
	border-radius: var(--regular-border) var(--regular-border) 0 0;

	padding: 10px 20px;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: var(--color_background);
}

.avatar {
	height: 60px!important;
	width: 60px!important;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	padding-left: 20px;
}

.username {
	color: var(--color_text_primary);
	font-size: var(--font-line-m);
}

.email {
	color: var(--color_text_tertiary);
	font-size: var(--font-line-s);
}

.item {
	width: 100%;
	height: 50px;

	padding-left: 35px;

	display: flex;
	align-items: center;
	justify-content: start;
	background-color: var(--color_background_content);
	cursor: pointer;
	border-radius: var(--regular-border);
}

.item:hover {
	background-color: var(--color_background_modal--hover);
}

.icon {
	height: 100%;
	width: 28px;

	fill: var(--color_backgroud_ui_accent);
	margin-right: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	height: 28px;
}

.text {
	color: var(--color_text_button);
	font-size: var(--font-line-s);
}

.additional {
	margin-left: 4px;
	color: var(--color_backgroud_ui_accent);
	font-size: var(--font-line-s);
}
