.Icon {
	user-select: none;
}

.regular {
	color: var(--color_backgroud_ui);
}

.error {
	color: var(--color_text_negative);
}

.accent {
	color: var(--color_backgroud_ui_accent);
}

.size_s {
	width: 16px;
	height: 16px;
}

.size_m {
	width: 24px;
	height: 24px;
}

.size_l {
	width: 32px;
	height: 32px;
}

.size_xl {
	width: 48px;
	height: 48px;
}
