.Icon {
	fill: var(--color_backgroud_ui);
}

.size_s {
	width: 16px;
	height: 16px;
}

.size_m {
	width: 24px;
	height: 24px;
}

.size_l {
	width: 32px;
	height: 32px;
}

.size_xl {
	width: 48px;
	height: 48px;
}
