.folder__item {
  height: 60px;

  display: grid;
  grid-template-columns: auto 2fr 1fr 1fr 1fr auto;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-bottom: 1px solid var(--separator);
}

.folder__icon {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder__icon img {
  height: 90%;
}

.folder__name, .folder__type, .folder__modified__date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder__menu {
  cursor: pointer;
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folder__menu img {
  height: 60%;
}

