.item {
	height: 50px;
	width: 100%;

	display: grid;
	grid-template-columns: auto 2fr 1fr 1fr 1fr auto;
	align-items: center;

	gap: 16px;
	padding: 0 5px;

	border-bottom: 1px solid var(--separator);

	&:hover {
		background-color: var(--color_background_content);

		.icon {
			opacity: 1;
		}
	}
}

.icon {
	height: 100%;
	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text_primary);

	cursor: pointer;
}

.name,
.type,
.size,
.modified__date {
	font-size: var(--font-size-m);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu {
	height: 100%;
	width: 110px;
	gap: 10px;

	display: flex;
	justify-content: end;
	align-items: center;
}

.iconWrapper {
	border-radius: 50%;
	height: 44px;
	width: 44px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: var(--color_background_content--hover);
	}
}