.header {
  height: clamp(45px, 5.5vh, 60px);
  width: 100vw;
  padding: 0 20px;
  
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--color_background_content);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo, .search , .profile {
  height: 100%;
  width: 40px;
}

.logo {
}

.logoSvg {
  fill: red;
}

.search {
  width: clamp(250px, 35%, 700px);
  height: 80%;
  
  display: flex;
  align-items: center;
  
  border-radius: 10px;
  padding: 0 15px;
  margin: auto 0;

  background-color: var(--color_background);
}
.findByName {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: inherit;
  
  caret-color: var(--color_text_button);
  color: var(--color_text_button);
  font-size: var(--font-line-s);
}

.profile {
}
