:root {
    --main-anim-delay: 200ms;
    --second-anim-delay: 200ms;
    --fast-anim-delay: 100ms;

    --color_background_positive: #4BB34B;
    --color_background_positive--hover: #48AC4A;
    --color_background_positive--active: #45A64A;

    --color_background_negative: #E64646;
    --color_background_negative--hover: #DD4446;
    --color_background_negative--active: #D44245;

    --azure: #18A0FB;

    --button-color: var(--azure);
    --button-hover-color: #28aaff;
    --button-active-color: #1082c8;

    --link-color: var(--azure);
    --link-hover-color: #3384ff;

    --font-size-s: 10px;
    --font-line-s: 16px;
    
    --font-size-m: 14px;
    --font-line-m: 20px;
    
    --font-size-l: 24px;
    --font-line-l: 32px;
    
    --font-size-xl: 32px;
    --font-line-xl: 40px;
}

/*[data-theme="dark"] {*/
/*    --color_background: #313131;*/
/*    --color_background_content: #353535;*/
/*    --color_background_secondary: #333333;*/
/*    --color_background_tertiary: #292929;*/
/*    */
/*    --separator: #414141;*/
/*    --separator_inverse: #D1D1D1;*/
/*    */
/*    --color_background_contrast--hover: #EBEDF0;*/
/*    --color_background_contrast--active: #D7D8DB;*/

/*    --color_background_modal: #292929;*/
/*    --color_background_modal--hover: #323232;*/
/*    --color_background_modal--active: #3A3A3A;*/

/*    --color_background_modal_inverse: #FFFFFF;*/
/*    --color_background_modal_inverse--hover: #EBEDF0;*/
/*    --color_background_modal_inverse--active: #D7D8DB;*/


/*    --color_skeleton_from: #292929;*/
/*    --color_skeleton_to: #333333;*/

/*    --color_text_primary: #E1E3E6;*/
/*    --color_text_primary--hover: #E2E4E7;*/
/*    --color_text_primary--active: #E3E5E8;*/
/*    --color_text_primary_invariably--hover: #3B3B3B;*/
/*    --color_text_primary_invariably--active: #434343;*/

/*    --color_text_secondary: #B1B1B1;*/

/*    --color_text_tertiary: #828282;*/
/*    --color_text_tertiary--hover: #878787;*/
/*    --color_text_tertiary--active: #8C8C8C;*/

/*    --color_text_positive--hover: #52B652;*/
/*    --color_text_positive--active: #59B959;*/

/*    --color_text_negative: #FF5C5C;*/
/*    --color_text_negative--hover: #FF6363;*/
/*    --color_text_negative--active: #FF6969;*/

/*    --color_text_muted: #CCCCCC;*/
/*    --color_text_muted--hover: #CECECE;*/
/*    --color_text_muted--active: #D0D0D0;*/

/*    --color_link_contrast: #CCCCCC;*/
/*    --color_link_contrast--hover: #CECECE;*/
/*    --color_link_contrast--active: #D0D0D0;*/

/*    --color_text_button: #E1E3E6;*/
/*    --color_text_button--hover: #E2E4E7;*/
/*    --color_text_button--active: #E3E5E8;*/
/*}*/

[data-theme="dark"] {
    --color_background: #313131;
    
    --color_background_content: #353535;
    --color_background_secondary: #333333;
    --color_background_tertiary: #313131;

    --separator: #414141;
    --separator_inverse: #DCE1E6;

    --color_background_contrast--hover: #EBEDF0;
    --color_background_contrast--active: #D7D8DB;

    --color_background_modal: #292929;
    --color_background_modal--hover: #323232;
    --color_background_modal--active: #3A3A3A;

    --color_background_modal_inverse: #FFFFFF;
    --color_background_modal_inverse--hover: #EBEDF0;
    --color_background_modal_inverse--active: #D7D8DB;


    --color_skeleton_from: #292929;
    --color_skeleton_to: #333333;

    --color_text_primary: #E1E3E6;
    --color_text_primary--hover: #E2E4E7;
    --color_text_primary--active: #E3E5E8;
    --color_text_primary_invariably--hover: #3B3B3B;
    --color_text_primary_invariably--active: #434343;

    --color_text_secondary: #B1B1B1;

    --color_text_tertiary: #828282;
    --color_text_tertiary--hover: #878787;

    --color_text_muted: #CCCCCC;
    --color_text_muted--hover: #CECECE;

    --color_link_contrast: #CCCCCC;
    --color_link_contrast--hover: #CECECE;

    --color_text_button: #E1E3E6;
    --color_text_button--hover: #E2E4E7;
}

[data-theme="light"] {
    --color_background: #F6F6F6;
    --color_background_content: #F2F2F2;
    --color_background_secondary: #EFEFEF;
    --color_background_tertiary: #E9E9E9;
    
    --separator: #D1D1D1;
    --separator_inverse: #414141;

    --color_background_contrast--hover: #333;
    --color_background_contrast--active: #2A2A2A;

    --color_background_modal: #FFFFFF;
    --color_background_modal--hover: #F7F7F7;
    --color_background_modal--active: #EDEDED;

    --color_background_modal_inverse: #313131;
    --color_background_modal_inverse--hover: #353535;
    --color_background_modal_inverse--active: #393939;

    --color_skeleton_from: #EFEFEF;
    --color_skeleton_to: #F5F5F5;

    --color_text_primary: #1D1D1D;
    --color_text_primary--hover: #212121;
    --color_text_primary--active: #252525;
    --color_text_primary_invariably--hover: #E2E2E2;
    --color_text_primary_invariably--active: #DEDEDE;

    --color_text_secondary: #545454;

    --color_text_tertiary: #7E7E7E;
    --color_text_tertiary--hover: #757575;
    --color_text_tertiary--active: #6D6D6D;

    --color_text_positive--hover: #80E280;
    --color_text_positive--active: #75DE75;

    --color_text_negative: #FF8686;
    --color_text_negative--hover: #FF7E7E;
    --color_text_negative--active: #FF7575;

    --color_text_muted: #AAA;
    --color_text_muted--hover: #A2A2A2;
    --color_text_muted--active: #9A9A9A;

    --color_link_contrast: #AAA;
    --color_link_contrast--hover: #A2A2A2;
    --color_link_contrast--active: #9A9A9A;

    --color_text_button: #1D1D1D;
    --color_text_button--hover: #212121;
    --color_text_button--active: #252525;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}