.disk {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.file__container {
	max-width: 1000px;
	max-height: 1000px;
	width: 70%;
	height: 80%;

	display: flex;
	flex-direction: column;
	position: relative;

	padding: 20px;
	margin: auto;

	border: 1px solid var(--separator);
	border-radius: 20px;
}
.header {
	font-size: var(--font-size-l);
	height: 50px;

	display: flex;
	align-items: center;

	padding-bottom: 10px;
	border-bottom: 1px solid var(--separator);
}

.dropArea {
  
}

.myDisk {
  cursor: pointer;
}

.files {
	height: 100%;
	width: 100%;
}
